[submodule "third_party/qwindowkit"]
	path = third_party/qwindowkit
	url = https://github.com/qianvk/qwindowkit.git
[submodule "third_party/vkui"]
	path = third_party/vkui
	url = https://github.com/qianvk/vkui.git
